<app-collapsible name="Filters">
    <div class="filter-container">
        Topic: 
        <app-filter-toggle-button (toggled)="setFilter($event, 'music')">Music</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'graphics')">Graphics</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'ai')">AI/ML</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'misc')">Misc</app-filter-toggle-button>
    </div>

    <div class="filter-container">
        Status: 
        <app-filter-toggle-button (toggled)="setFilter($event, 'complete')">Complete</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'progress')">In Progress</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'hiatus')">Hiatus</app-filter-toggle-button>
    </div>

    <div class="filter-container">
        Purpose: 
        <app-filter-toggle-button (toggled)="setFilter($event, 'personal')">Personal</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'class')">Class</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'contest')">Contest</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'research')">Research</app-filter-toggle-button>
    </div>

    <div class="filter-container">
        Collaborators: 
        <app-filter-toggle-button (toggled)="setFilter($event, 'solo')">Solo</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'collab')">Collaboration</app-filter-toggle-button>
    </div>

    <div class="filter-container">
        Languages: 
        <app-filter-toggle-button (toggled)="setFilter($event, 'python')">Python</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'c++')">C++</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'c#')">C#</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'f#')">F#</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'java')">Java</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'c')">C</app-filter-toggle-button>
    </div>

    <div class="filter-container">
        Technologies: 
        <app-filter-toggle-button (toggled)="setFilter($event, 'unity')">Unity</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'blender')">Blender</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'opengl')">OpenGL</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'pd')">Pure Data/Max MSP</app-filter-toggle-button>
    </div>

    <div class="filter-container">
        Other Tags: 
        <app-filter-toggle-button (toggled)="setFilter($event, 'game')">Game</app-filter-toggle-button>
        <app-filter-toggle-button (toggled)="setFilter($event, 'vr')">VR</app-filter-toggle-button>
    </div>
</app-collapsible>


<app-markdown-wrapper [filename]="'assets/markdown/home/projects/125-cyber-city.md'" class="bottom-separator"
    *ngIf="!filtered(['graphics', 'complete', 'class', 'collab', 'c++', 'game'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/spec2spec.md'" class="bottom-separator"
    *ngIf="!filtered(['music', 'ai', 'progress', 'research', 'collab', 'python'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/klatt-synth.md'" class="bottom-separator"
    *ngIf="!filtered(['music', 'complete', 'class', 'solo', 'pd', 'c'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/music-fun.md'" class="bottom-separator"
    *ngIf="!filtered(['music', 'graphics', 'progress', 'personal', 'solo', 'python', 'opengl'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/machine-improv.md'" class="bottom-separator"
    *ngIf="!filtered(['music', 'ai', 'progress', 'research', 'solo', 'python', 'pd'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/discord-bots.md'" class="bottom-separator"
    *ngIf="!filtered(['ai', 'misc', 'progress', 'personal', 'solo', 'python', 'c#', 'f#', 'game'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/143-virtual-env.md'" class="bottom-separator"
    *ngIf="!filtered(['graphics', 'misc', 'complete', 'class', 'solo', 'c#', 'unity', 'blender', 'game', 'vr'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/172-softsynth.md'" class="bottom-separator"
    *ngIf="!filtered(['music', 'complete', 'class', 'solo', 'pd'])">
</app-markdown-wrapper>
    
<app-markdown-wrapper [filename]="'assets/markdown/home/projects/pure-mania.md'" class="bottom-separator"
    *ngIf="!filtered(['music', 'graphics', 'complete', 'class', 'solo', 'pd', 'game'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/inf-dungeon-dive.md'" class="bottom-separator"
    *ngIf="!filtered(['misc', 'hiatus', 'contest', 'solo', 'c#', 'unity', 'game'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/spatial-viz.md'" class="bottom-separator"
    *ngIf="!filtered(['graphics', 'complete', 'research', 'collab', 'c++', 'opengl', 'vr'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/bird.md'" class="bottom-separator"
    *ngIf="!filtered(['misc', 'complete', 'contest', 'collab', 'c#', 'unity', 'game', 'vr'])">
</app-markdown-wrapper>

<app-markdown-wrapper [filename]="'assets/markdown/home/projects/venice-canals.md'" class="bottom-separator"
    *ngIf="!filtered(['graphics', 'complete', 'class', 'collab', 'c++', 'opengl'])">
</app-markdown-wrapper>