/* You can add global styles to this file, and also import other style files */
@import "constants.scss";

:root {
  --page-color: #2c2f33;
}

body {
  margin: 0;
  padding: 0;
}
body a {
  color: rgb(154, 171, 218);
}

html {
  //background: url(assets/images/bgSky.jpg) no-repeat center center fixed;
  background: rgb(78, 76, 92);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Calibri;
}

img.center {
  display: block;
  margin: 0 auto;
}

.fullscreen {
  display: flex;
  align-content: initial;
  justify-content: center;
  height: 100vh;
}

.page {
  position: relative;
  max-width: 600px;
  height: auto;
  color: $text-color-white;
}

.page-header {
  background-color: #7289da;
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  height: auto;
  color: $text-color-white;
  padding: 20px;
  text-align: center;
  font-size: 24pt;
  font-weight: bolder;
}

.page-content {
  position: relative;
  background-color: $background-color-grey;
  border-radius: 0px 0px 3px 3px;
  width: 100%;
  height: auto;
  color: $text-color-white;
  padding: 20px;
}

.page-nav {
    padding: 0px 0px 30px;
}

.page-nav a {
  color: rgb(216, 195, 255);
  font-size: 18pt;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 20px;
}

.page-nav a:hover {
  color: rgb(120, 81, 194);
}
