/* You can add global styles to this file, and also import other style files */
:root {
    --page-color: #2c2f33;
}

body {
    margin: 0;
    padding: 0;
}

html { 
  background: url(assets/bgSky.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fullscreen
{
     display: flex;
     align-content: initial;
     justify-content: center;
     height: 100vh;
}

.page
{
    position: relative;
    max-width: 600px;
    height: auto;
    color: #eeeeee;
}

.page-header
{
     background-color:	#7289da;
     border-radius: 3px 3px 0px 0px;
     width: 100%;
     height: auto;
     color: #eeeeee;
     padding: 20px;
     text-align: center;
     font-size: 24pt;
     font-weight: bolder;
}

.page-content
{
    position: relative;
    background-color: #2c2f33;
     border-radius: 0px 0px 3px 3px;
     width: 100%;
     height: auto;
     color: #eeeeee;
     padding: 20px;
}

.page-content img {
    width: 100%;
}